<%= render template: 'distribution/distribution-form/about-this-distribution' %>
<%= render template: 'distribution/distribution-form/help' %>

<div class="d-flex justify-content-center">
  <div class="p-2">
    <form>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">α = </span>
        </div>
        <input type="number" min="0" class="form-control" name="alpha" id="alpha-input" placeholder="(0; inf)"
               oninvalid="Number(this.value) < 0
                 ? this.setCustomValidity('Alpha value should be greater than Zero')
                 :this.setCustomValidity('Alpha value is required field')"
               oninput="this.setCustomValidity('')" required>
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">β = </span>
        </div>
        <input type="number" class="form-control" id="beta-input" name="beta" placeholder="(0; inf)"
               oninvalid="Number(this.value) < 0
                 ? this.setCustomValidity('Beta value should be greater than Zero')
                 :this.setCustomValidity('Beta value is required field')"
               oninput="this.setCustomValidity('')" required>
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">N = </span>
        </div>
        <input type="number" min="0" class="form-control" name="generation-count" id="generation-count-distribution-input" placeholder="Enter generation count value"
               oninvalid="Number(this.value) < 0
                 ? this.setCustomValidity('Generation count should be greater than Zero')
                 : this.setCustomValidity('Generation count is required field')"
               oninput="this.setCustomValidity('')" required>
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">X ≤ </span>
        </div>
        <input type="number" min="0" class="form-control" name="right-boundary" id="right-boundary-distribution-input" placeholder="[1; inf)"
               oninvalid="Number(this.value) < 0
                 ? this.setCustomValidity('Right boundary of calculation should be greater than Zero')
                 : this.setCustomValidity('Right boundary of calculation is required field')"
               oninput="this.setCustomValidity('')" required>
      </div>
      <div class="d-flex align-items-center p-2" style="gap: 16px;">
        <button type="submit" class="btn btn-primary">Compute</button>
        <%= render template: 'distribution/distribution-form/export' %>
      </div>
    </form>
  </div>
</div>

<script>
    function fillForm() {
        const params = (new URL(document.location)).searchParams;

        const generationCount = params.get("generation-count");
        const rightBoundary = params.get("right-boundary");
        const alpha = params.get("alpha");
        const beta = params.get("beta");

        document.getElementById('generation-count-distribution-input').value = generationCount ? Number(generationCount) : 10_000;
        document.getElementById('right-boundary-distribution-input').value = rightBoundary ? Number(rightBoundary) : 10;
        document.getElementById('alpha-input').value = alpha ? Number(alpha) : 2;
        document.getElementById('beta-input').value = beta ? Number(beta) : 5;
    }

    fillForm();
</script>