<!-- About this Distribution modal -->
<div
  class="modal fade"
  id="help-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="help-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column" style="gap: 16px">
          <div class="d-flex justify-content-between align-items-center" style="font-size: 14px; gap: 16px;">
            <span>This program is a generator of the turnaround value using additional methods of turning functions, Neumann and the Metropolis. In the information window "About" you can get acquainted with the basic theoretical information about the Rayleigh distribution.<br>To construct a graph and obtain the calculation results, you need to enter the following values: N(generation count value), x(right boundary), σ(sigma value) and click on the button "Calculate". After constructing the graph and calculations, it is possible to save the calculation results to a file. To do this, click the button "Save result".</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex align-items-center" style="gap: 16px;">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>